<div class="signature-pad-container">
  <signature-pad class="signature-pad-canvas"
                  [options]="signaturePadOptions"
                  (onBeginEvent)="drawBegin()"
                  (onEndEvent)="drawComplete()" #sP>
  </signature-pad>
  <!-- <button class="clear-button" (click)="clearSignature()">Clear Signature</button> -->
</div>

<!-- Existing fields -->
<div class="existing-fields" *ngFor="let item of ExistingArr; let i = index">
  <button (click)="addField(item, i)" class="existing-field-btn">{{ item.label }}</button>
</div>


<!-- Newly added fields -->
<div class="newly-added-fields" *ngFor="let item of addFieldsArr; let i = index">
  <div *ngIf="item.label === 'Name'" class="new-field-container" (click)="editFields(i)">
    <div class="w-100 px-1">
      <label for="first-last-name" class="form-label w-100">{{item.label}}</label>
      <div class="row" id="first-last-name">
        <div class="col-lg-6 mb-3 mb-lg-0">
          <input type="text" name="" id="" class="form-control"  [placeholder]="item.fieldsName[0]?.placeholder"  (keyup)="getInputValue(i, 0, $event.target.value)"/>
        </div>
        <div class="col-lg-6 mb-3 mb-lg-0">
          <input type="text" name="" id="" class="form-control" [placeholder]="item.fieldsName[1]?.placeholder" (keyup)="getInputValue(i, 1, $event.target.value)"/>
        </div>
      </div>
    </div>
  </div>
     <!-- Start form-email-field -->
      <div class="d-flex align-items-start" *ngIf="item.originalValue === 'Email'" (click)="editFields(i)">
        <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
        <div class="w-100 px-1">
          <label for="first-last-name" class="form-label w-100">{{item.label}}</label>
          <input type="email" name="" id="" class="form-control" [placeholder]="item.placeholder" (keyup)="getInputValue(i,null, $event.target.value)"/>
        </div>
      </div>
    <!-- end form-email-field -->
      <div class="d-flex align-items-start" *ngIf="item.originalValue === 'Password'" (click)="editFields(i)">
        <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
        <div class="w-100 px-1">
          <label for="first-last-name" class="form-label w-100">Phone <small>Optional</small></label>
          <input type="Password" name="" id="" class="form-control" [placeholder]="item.placeholder" (keyup)="getInputValue(i,null, $event.target.value)"/>
        </div>
      </div>

      <!-- Start form-spreadsheet-input-field -->
        <div class="d-flex align-items-start" *ngIf="item.originalValue === 'Spreadsheet Input'" (click)="editFields(i)">
            <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
            <div class="w-100 px-1">
                <label for="" class="form-label w-100">Spreadsheet input <small>Optional</small></label>
                <table class="table table-bordered text-black">
                    <tr>
                        <th class="bg-light-secondary text-center text-black">&nbsp;</th>
                        <th class="bg-light-secondary text-center text-black">{{ item.placeholders[0] }}</th>
                        <th class="bg-light-secondary text-center text-black">{{ item.placeholders[1] }}</th>
                    </tr>
                    <tr>
                        <th class="bg-light-secondary text-center text-black">2</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th class="bg-light-secondary text-center text-black">3</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th class="bg-light-secondary text-center text-black">4</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
            <span class="btn btn-light-danger lh-1 px-2 ms-2" (click)="deleteField(i)"><i class="ti ti-trash"></i></span>
        </div>
    <!-- end form-spreadsheet-input-field -->
</div>

<!-- Newly added fields -->
<!-- Newly added fields -->




<!-- On Edit Create Field -->
<!-- On Edit Create Field -->
<div *ngIf="isEditFields === true" class="edit-field">
  <ul class="edit-field-list list-unstyled">
    <li class="edit-field-item" id="line-1">
      <p class="d-flex justify-content-between align-items-center">
        <span class="fw-bold">Edit field</span>
        <span><i class="ti ti-x btn btn-secondary px-2 lh-1" (click)="closeEdit()"></i></span>
      </p> 
      <!--Dynamic Field Functionality-->
      <div *ngIf="editingIndex !== -1">
        <div *ngIf="addFieldsArr[editingIndex]?.originalValue === 'Name'">
          <div *ngFor="let subField of addFieldsArr[editingIndex]?.fieldsName; let j = index">
            <ng-container>
              <label>{{ subField.label }}</label>
              <input type="{{ subField.type }}" placeholder="{{ subField.placeholder }}"
                     (keyup)="getInputValue(editingIndex, j, $event.target.value)">
            </ng-container>
          </div>
        </div>
        <div *ngIf="addFieldsArr[editingIndex]?.originalValue === 'Email'">
            <div class="d-flex align-items-start">
              <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
              <div class="w-100 px-1">
                <label for="email" class="form-label w-100">Email</label>
                <input type="email" id="email" class="form-control" [placeholder]="addFieldsArr[editingIndex]?.placeholders" (keyup)="getInputValue(editingIndex,null, $event.target.value)" />
              </div>
            </div>
        </div>
        <div *ngIf="addFieldsArr[editingIndex]?.originalValue === 'Password'">
          <div class="d-flex align-items-start">
            <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
            <div class="w-100 px-1">
              <label for="email" class="form-label w-100">Phone</label>
              <input type="email" id="email" class="form-control" [placeholder]="addFieldsArr[editingIndex]?.placeholders" (keyup)="getInputValue(editingIndex,null, $event.target.value)" />
            </div>
          </div>
      </div>

      <div class="w-100 mb-3" *ngIf="addFieldsArr[editingIndex]?.originalValue === 'Spreadsheet Input'">
      <div class="w-100 mb-3">
        <mat-checkbox class="example-margin">
          <strong>Required field</strong>
        </mat-checkbox>
      </div>
      <div class="w-100 mb-3">
        <label for="" class="form-label w-100">Columns</label>
        <div>
          <div class="form-group d-flex gap-2 mb-2">
            <button type="button" class="btn bg-white lh-1 px-2"><i class="ti ti-grip-vertical"></i></button>
            <input type="text" value="Link" class="form-control"  [placeholder]="addFieldsArr[editingIndex]?.placeholders[0]"  (keyup)="getInputValue(editingIndex,0, $event.target.value)"/>
            <button type="button" class="btn btn-light-danger lh-1 px-2"><i class="ti ti-trash"></i></button>
          </div>
          <div class="form-group d-flex gap-2 mb-2">
            <button type="button" class="btn bg-white lh-1 px-2"><i class="ti ti-grip-vertical"></i></button>
            <input type="text" value="Anchor text" class="form-control" [placeholder]="addFieldsArr[editingIndex]?.placeholders[0]"  (keyup)="getInputValue(editingIndex,1, $event.target.value)"/>
            <button type="button" class="btn btn-light-danger lh-1 px-2"><i class="ti ti-trash"></i></button>
          </div>
          <div class="form-group d-flex gap-2 mb-2">
            <button type="button" class="btn bg-white lh-1 px-2"><i class="ti ti-grip-vertical"></i></button>
            <input type="text" placeholder="Website url" class="form-control" />
            <button type="button" class="btn btn-light-danger lh-1 px-2"><i class="ti ti-trash"></i></button>
          </div>
          <div class="text-start">
            <button type="button" class="btn btn-light-primary">+ Add items</button>
          </div>
        </div>
      </div>
      </div>
      </div>
    </li>
    </ul>
</div>








