<div class="signature-pad-container">
  <signature-pad class="signature-pad-canvas"
                  [options]="signaturePadOptions"
                  (onBeginEvent)="drawBegin()"
                  (onEndEvent)="drawComplete()" #sP>
  </signature-pad>
  <!-- <button class="clear-button" (click)="clearSignature()">Clear Signature</button> -->
</div>

<!-- Existing fields -->
<div class="existing-fields" *ngFor="let item of ExistingArr; let i = index">
  <button (click)="addField(item, i)" class="existing-field-btn">{{ item.label }}</button>
</div>


<!-- Newly added fields -->
<div class="newly-added-fields" *ngFor="let item of addFieldsArr; let i = index">
  <div *ngIf="item.label === 'Name'" class="new-field-container" (click)="editFields(i)">
    <div class="w-100 px-1">
      <label for="first-last-name" class="form-label w-100">{{item.label}}</label>
      <div class="row" id="first-last-name">
        <div class="col-lg-6 mb-3 mb-lg-0">
          <input type="text" name="" id="" class="form-control"  [placeholder]="item.fieldsName[0]?.placeholder"  (keyup)="getInputValue(i, 0, $event.target.value)"/>
        </div>
        <div class="col-lg-6 mb-3 mb-lg-0">
          <input type="text" name="" id="" class="form-control" [placeholder]="item.fieldsName[1]?.placeholder" (keyup)="getInputValue(i, 1, $event.target.value)"/>
        </div>
      </div>
    </div>
  </div>
     <!-- Start form-email-field -->
      <div class="d-flex align-items-start" *ngIf="item.originalValue === 'Email'" (click)="editFields(i)">
        <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
        <div class="w-100 px-1">
          <label for="first-last-name" class="form-label w-100">{{item.label}}</label>
          <input type="email" name="" id="" class="form-control" [placeholder]="item.placeholder" (keyup)="getInputValue(i,null, $event.target.value)"/>
        </div>
      </div>
    <!-- end form-email-field -->
      <div class="d-flex align-items-start" *ngIf="item.originalValue === 'Password'" (click)="editFields(i)">
        <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
        <div class="w-100 px-1">
          <label for="first-last-name" class="form-label w-100">Phone <small>Optional</small></label>
          <input type="Password" name="" id="" class="form-control" [placeholder]="item.placeholder" (keyup)="getInputValue(i,null, $event.target.value)"/>
        </div>
      </div>

      <!-- Start form-spreadsheet-input-field -->
        <div class="d-flex align-items-start" *ngIf="item.originalValue === 'Spreadsheet Input'" (click)="editFields(i)">
            <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
            <div class="w-100 px-1">
                <label for="" class="form-label w-100">Spreadsheet input <small>Optional</small></label>
                <table class="table table-bordered text-black">
                    <tr>
                        <th class="bg-light-secondary text-center text-black">&nbsp;</th>
                        <th class="bg-light-secondary text-center text-black" *ngFor="let placeholder of item.placeholders">{{ placeholder }}</th>
                     
                    </tr>
                    <tr>
                        <th class="bg-light-secondary text-center text-black">2</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th class="bg-light-secondary text-center text-black">3</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th class="bg-light-secondary text-center text-black">4</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
            <span class="btn btn-light-danger lh-1 px-2 ms-2" (click)="deleteField(i)"><i class="ti ti-trash"></i></span>
        </div>
    <!-- end form-spreadsheet-input-field -->

       <!-- Start form-signature-field -->
       <li class="mb-3 form-signature-field">
        <div class="d-flex align-items-start" *ngIf="item.originalValue === 'Signature'">
            <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
            <div class="w-100 px-1">
                <div class="mb-3">
                    <label for="first-last-name" class="form-label w-100">Client Agreement </label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in augue lacus. Cras nec neque quis turpis gravida rhoncus suscipit sit amet leo. Maecenas ultricies dolor vulputate massa mattis venenatis. Proin vitae dui vel justo rutrum elementum eu quis neque. Aenean vitae laoreet metus. Vestibulum faucibus vestibulum cursus. Praesent molestie lobortis purus, fermentum iaculis diam efficitur at. Nulla id magna nec odio rutrum convallis. Suspendisse efficitur laoreet condimentum. Duis rutrum cursus lectus a fringilla. Sed hendrerit malesuada felis, suscipit pellentesque nulla tristique ut. Fusce ut ultricies libero. Proin tempus malesuada dolor, ac luctus lectus pulvinar ut.
                </textarea>
                </div>
                <div>
                    <label for="" class="form-label w-100 rounded-3">Please e-sign this agreement</label>
                    <canvas height="75" width="350" class="form-control" style="max-width: 300px;"></canvas>
                </div>
            </div>
            <span class="btn btn-light-danger lh-1 px-2 ms-2" (click)="deleteField(i)"><i class="ti ti-trash"></i></span>
        </div>
    </li>
    <!-- end form-signature-field -->

        <!--Service Selection Starts Here-->
        <li class="mb-3 form-service-dropdown">
          <div class="d-flex align-items-start" *ngIf="item.originalValue === 'Service dropdown'">
            <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
            <div class="w-100 px-1">
              <label for="" class="form-label w-100">Service dropdown <small>Optional</small></label>
              <div ngbDropdown class="d-block">
                <button
                  type="button"
                  class="btn border border-dark border-opacity-50 bg-white d-flex align-items-center justify-content-between gap-1 w-100"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  <span>Please select</span> <i class="ti ti-chevron-down"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100">
                  <button type="button" class="btn mb-0 text-start w-100 border-bottom">
                    <span>Website Audit</span>
                  </button>
                </div>
              </div>
              <!-- DROPDOWN SELECT END -->
            </div>
          </div>
        </li>
        <!--Service Selection Closes Here-->


</div>

<!-- Newly added fields -->
<!-- Newly added fields -->




<!-- On Edit Create Field -->
<!-- On Edit Create Field -->
<div *ngIf="isEditFields === true" class="edit-field">
  <ul class="edit-field-list list-unstyled">
    <li class="edit-field-item" id="line-1">
      <p class="d-flex justify-content-between align-items-center">
        <span class="fw-bold">Edit field</span>
        <span><i class="ti ti-x btn btn-secondary px-2 lh-1" (click)="closeEdit()"></i></span>
      </p> 
      <!--Dynamic Field Functionality-->
      <div *ngIf="editingIndex !== -1">
        <div *ngIf="addFieldsArr[editingIndex]?.originalValue === 'Name'">
          <div *ngFor="let subField of addFieldsArr[editingIndex]?.fieldsName; let j = index">
            <ng-container>
              <label>{{ subField.label }}</label>
              <input type="{{ subField.type }}" placeholder="{{ subField.placeholder }}"
                     (keyup)="getInputValue(editingIndex, j, $event.target.value)">
            </ng-container>
          </div>
        </div>
        <div *ngIf="addFieldsArr[editingIndex]?.originalValue === 'Email'">
            <div class="d-flex align-items-start">
              <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
              <div class="w-100 px-1">
                <label for="email" class="form-label w-100">Email</label>
                <input type="email" id="email" class="form-control" [placeholder]="addFieldsArr[editingIndex]?.placeholder" (keyup)="getInputValue(editingIndex,null, $event.target.value)" />
              </div>
            </div>
        </div>
        <div *ngIf="addFieldsArr[editingIndex]?.originalValue === 'Password'">
          <div class="d-flex align-items-start">
            <span class="btn bg-light-dark lh-1 px-2 me-2"><i class="ti ti-grip-vertical"></i></span>
            <div class="w-100 px-1">
              <label for="email" class="form-label w-100">Phone</label>
              <input type="email" id="email" class="form-control" [placeholder]="addFieldsArr[editingIndex]?.placeholder" (keyup)="getInputValue(editingIndex,null, $event.target.value)" />
            </div>
          </div>
      </div>

      <div class="w-100 mb-3" *ngIf="addFieldsArr[editingIndex]?.originalValue === 'Spreadsheet Input'">
      <div class="w-100 mb-3">
        <mat-checkbox class="example-margin">
          <strong>Required field</strong>
        </mat-checkbox>
      </div>
      <div class="w-100 mb-3">
        <label for="" class="form-label w-100">Columns</label>
        <div>
          <div class="form-group d-flex gap-2 mb-2">
            <button type="button" class="btn bg-white lh-1 px-2"><i class="ti ti-grip-vertical"></i></button>
            <input type="text"  class="form-control"  [placeholder]="addFieldsArr[editingIndex]?.placeholders[0]"  (keyup)="getInputValue(editingIndex,0, $event.target.value)"/>
            <button type="button" class="btn btn-light-danger lh-1 px-2"><i class="ti ti-trash"></i></button>
          </div>
          <div class="form-group d-flex gap-2 mb-2">
            <button type="button" class="btn bg-white lh-1 px-2"><i class="ti ti-grip-vertical"></i></button>
            <input type="text"  class="form-control" [placeholder]="addFieldsArr[editingIndex]?.placeholders[1]"  (keyup)="getInputValue(editingIndex,1, $event.target.value)"/>
            <button type="button" class="btn btn-light-danger lh-1 px-2"><i class="ti ti-trash"></i></button>
          </div>
          <div class="form-group d-flex gap-2 mb-2">
            <button type="button" class="btn bg-white lh-1 px-2"><i class="ti ti-grip-vertical"></i></button>
            <input type="text" placeholder="Website url" class="form-control" />
            <button type="button" class="btn btn-light-danger lh-1 px-2"><i class="ti ti-trash"></i></button>
          </div>
          <div class="text-start">
            <button type="button" class="btn btn-light-primary">+ Add items</button>
          </div>
        </div>
      </div>
      </div>
      </div>
    </li>
    </ul>
</div>








